In [1]:
import numpy as np
import pandas as pd

## Create DataFrame

In [2]:
df = pd.read_csv('housing.csv')

df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

## Question 1

In [3]:
print(f'Pandas version: {pd.__version__}')

Pandas version: 2.0.3

## Question 2

In [4]:
print(f'Number of columns: {df.shape[1]}')

Number of columns: 10

## Question 3

In [5]:
df.isna().any()

longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms         True
population            False
households            False
median_income         False
median_house_value    False
ocean_proximity       False
dtype: bool

Only total_bedrooms has missing values

## Question 4

In [6]:
unique_values_ocean_prox = len(df['ocean_proximity'].unique())

print(f'How many unique values does ocean_proximity column have? {unique_values_ocean_prox}')

How many unique values does ocean_proximity column have? 5

## Question 5

In [7]:
avg_value = df.query('ocean_proximity == "NEAR BAY"')['median_house_value'].mean()

print(f'What\'s the average value of the median_house_value for the houses located near the bay? {avg_value}')

What's the average value of the median_house_value for the houses located near the bay? 259212.31179039303

## Question 6

In [8]:
avg = df['total_bedrooms'].mean()
print(avg)
df['total_bedrooms'] = df['total_bedrooms'].fillna(avg)
df['total_bedrooms'].mean()

537.8705525375618

537.8705525375617

No change on avg values

## Question 7

In [9]:
x = df.query('ocean_proximity == "ISLAND"').reset_index(drop=True)[['housing_median_age', 'total_rooms', 'total_bedrooms']].values
xtx = x.T @ x
xtx_inv = np.linalg.inv(xtx)
y = [950, 1300, 800, 1000, 1300]
w = (xtx_inv @ x.T) @ y

print(f'Value of the last element of w? {w[-1]}')

Value of the last element of w? 5.699229455065594